<form [formGroup]="dynamicForm" name="calculation" (ngSubmit)="onSubmit()">
  <div class="card m-3">
    <h5 class="card-header">Пример пресметка</h5>
    <table class="table table-hover">
      <thead>

        <tr class="bg-info">
          <th scope="col">
            <input type="checkbox" [formControl]="checkAllControl" (change)="changeSelectionForAll( )" />
          </th>
          <th scope="col">Name</th>
          <th scope="col">Project</th>
          <th scope="col">LegalEntities</th>
          <th scope="col">Work Items</th>
          <th scope="col">Document Type</th>
          <th scope="col">Document Status</th>
          <th scope="col">Tax Year</th>
          <th scope="col">Tax Period</th>
          <th scope="col">Reference Id</th>
          <th scope="col" class="btn-action"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of items.controls; let i = index">
          <tr class="list-group list-group-flush" [formGroup]="item" class="bg-primary">
            <th scope="row">
              <input type="checkbox" formControlName="checked" />
            </th>
            <td class="align-middle">
              <input type="text" formControlName="name" placeholder="Name" class="form-control" />
            </td>
            <td class="align-middle">
              <input type="text" formControlName="project" placeholder="Project" class="form-control" />
            </td>
            <td class="align-middle">
              <input type="text" formControlName="legalEntity" placeholder="Legal Entities" class="form-control" />
            </td>
            <td class="align-middle">
              <input type="text" formControlName="workItems" placeholder="Work Items" class="form-control" />
            </td>
            <td class="align-middle">
              <input type="text" formControlName="documentType" placeholder="Document Type" class="form-control" />
            </td>
            <td class="align-middle">
              <input type="text" formControlName="documentStatus" placeholder="Document Status" class="form-control" />
            </td>
            <td class="align-middle">
              <input type="text" formControlName="taxYear" placeholder="Tax Year" class="form-control" />
            </td>
            <td class="align-middle">
              <input type="text" formControlName="taxPeriod" placeholder="Tax Period" class="form-control" />
            </td>
            <td class="align-middle">
              <input type="text" formControlName="referenceId" placeholder="Reference Id" class="form-control" />
            </td>
            <td class="align-middle btn-action">
              <button class="btn btn-danger" type="button" (click)="remove(i)">remove
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <div class="card-footer text-center">
      <button class="btn btn-success" type="button" (click)="addNewItem()">add
      </button>
      <button class="btn btn-warning" type="reset" (click)="onReset()">CLear</button>
    </div>
  </div>
</form>